<!-- Footer -->

</div>

<!-- Scripts -->
<script src="{{ site.baseurl }}/assets/js/jquery.dropotron.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/skel.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/skel-viewport.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/util.js"></script> 
<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
<script src="{{ site.baseurl }}/assets/js/main.js"></script> -->
<!-- jQuery -->
<script src="{{ site.baseurl }}/assets/js/jquery.js"></script>
<script src="{{ site.baseurl }}/assets/js/jqBootstrapValidation.js"></script> -->
<!-- Bootstrap Core JavaScript -->
<script src="{{ site.baseurl }}/assets/js/bootstrap.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/contact-me.js"></script>

<script src="{{ site.baseurl }}/assets/js/jquery.cycle2.js"></script>
<script src="{{ site.baseurl }}/assets/js/jquery.cycle2.swipe.min.js"></script>


<script type="text/javascript">

    var images = new Array()
    var container = document.getElementById('images2');
    var docFrag = document.createDocumentFragment();

    function preload() {
        for (i = 0; i < preload.arguments.length; i++) {
            images[i] = new Image()
            images[i].src = preload.arguments[i]
            docFrag.appendChild(images[i]);
        }
        container.appendChild(docFrag);
    }
    preload(
        '../images/streams-of-thought/siblings.jpg',
        '../images/streams-of-thought/dance.jpg',
        '../images/streams-of-thought/himba_tribes.jpg',
        '../images/streams-of-thought/dance2.jpg',
        '../images/streams-of-thought/marbles.jpg',
        '../images/streams-of-thought/dance3.jpg',
        '../images/streams-of-thought/sahara_desert.jpg',
        '../images/streams-of-thought/earth.jpg',
        '../images/streams-of-thought/dance4.jpg',
        '../images/streams-of-thought/strange_things.jpg',
        '../images/streams-of-thought/dance5.jpg',
        '../images/streams-of-thought/strange_things2.jpg',
        '../images/streams-of-thought/dance6.jpg',
        '../images/streams-of-thought/thank_you.jpg',

         '../images/streams-of-thought/group_3_thePoor.jpg',
         '../images/streams-of-thought/group_2_EEG_interface.jpg',
         '../images/streams-of-thought/experiment16.jpg',
         '../images/streams-of-thought/spaceball.jpg',
         '../images/streams-of-thought/experiment.jpg',
         '../images/streams-of-thought/sorrow.jpg',
         '../images/streams-of-thought/pose.jpg',
         '../images/streams-of-thought/faceup.jpg',
         '../images/streams-of-thought/rough_sketch.jpg',
         '../images/streams-of-thought/hot_lead.jpg',
         '../images/streams-of-thought/experiment2.jpg',
         '../images/streams-of-thought/experiment3.jpg',
         '../images/streams-of-thought/just_chillin.jpg',
         '../images/streams-of-thought/group_2_EEG_interface2_female.jpg',
         '../images/streams-of-thought/experiment15.jpg',
         '../images/streams-of-thought/experiment4.jpg',
         '../images/streams-of-thought/experiment5.jpg',
         '../images/streams-of-thought/experiment6.jpg',
         '../images/streams-of-thought/flex.jpg',
         '../images/streams-of-thought/experiment7.jpg',
         '../images/streams-of-thought/experiment14.jpg',
         '../images/streams-of-thought/experiment8.jpg',
         '../images/streams-of-thought/experiment9.jpg',
         '../images/streams-of-thought/experiment10.jpg',
         '../images/streams-of-thought/experiment11.jpg',
         '../images/streams-of-thought/experiment12.jpg',
         '../images/streams-of-thought/experiment13.jpg',
         '../images/streams-of-thought/aggression.jpg',





        

    );
</script>

</body>
</html>
