<!-- Main -->
		<div id="main-wrapper">
			<div class="container">

				<a href="#" class="image featured"><img src="{{ site.baseurl }}/images/about-me.jpg" alt="" /></a>

				<!-- Content -->
				<hr class="featurette-divider">

				<!-- First Featurette -->
				<div class="featurette" id="about">
					<img class="featurette-image img-circle img-responsive pull-right" src="{{ site.baseurl }}/images/dreamteam/Guelor.jpg" alt="" >
					<h2 class="featurette-heading">{{ site.name}}</h2>
					<p class="lead">
						{{ site.description}}
					</p>
					<footer>
						<a href="{{ site.baseurl }}/cv/GuelorEmanuelResume.pdf" class="button alt">Download my resume</a>
					</footer>
				</div>

			</div>
		</div>
