{% include index-head.html %}


						<!-- Banner -->
							<section id="banner">
								<div class="photobanner">
									<img class="first" src="images/himba_tribes2.jpg" alt="">
									<img src="images/ylion2.jpg" alt="">
									<img src="images/Crouching Figure.jpg" alt="">
									<img src="images/crouching_figure.jpg" alt="">
									<img src="images/generic_video_game.jpg" alt="">
									<img src="images/Guard-1.jpg" alt="">
									<img src="images/himba_tribes2.jpg" alt="">
									<img src="images/ylion2.jpg" alt="">
									<img src="images/Crouching Figure.jpg" alt="">
									<img src="images/generic_video_game.jpg" alt="">
								</div>

							</section>



					</div>

				</div>


{% include footer.html %}
