{% include head.html %}
    {% include sidebar.html %}
    <section  class='content-main'>
        <div id='streams-of-thought' class='content-g'>
            <div class='ui unstackable items'>
                <div class='item'>
                    <div class='image'>
                        <img src='{{ site.baseurl }}/images/rsz_chordnetwork.png'/>
                    </div> 
                    <div class='middle aligned content'>
                        <div class='description' title="The purpose of this project was to implement a decentralized Peer to Peer File Sharing system using the Chord algorithm">
                            <a href='https://github.com/Zethor456/ChordInPython'>
                                Decentralized Peer to Peer File Sharing
                            </a>
                            <p>
                                The purpose of this project was to implement a decentralized Peer to Peer File Sharing system using the Chord algorithm
                            </p>
                        </div>
                        <div class='extra'>
                            <a href='https://docs.google.com/document/d/1XNYoB4SGTUOFAfEgk3pVBTRBogazLfd3-cE82utIJUs/edit?usp=sharing'>
                                Report
                            </a>
                            <a href='https://github.com/Zethor456/ChordInPython'>
                                code
                            </a>
                        </div>
                    </div>
                </div>
                <div class='item'>
                    <div class='image'>
                        <img src='{{ site.baseurl }}/images/Socket-Programming-in-C-C-.jpg'/>
                    </div> 
                    <div class='middle aligned content'>
                        <div class='description' title="An Implementation of FTP using C/C++">
                            <a href='https://github.com/GuelorEmanuel/C-CC-File-Transfer'>
                                An Implementation of FTP using C/C++
                            </a>
                            <p>
                                An Implementation of FTP using C/C++
                            </p>
                        </div>
                        <div class='extra'>
                            <a href='https://github.com/GuelorEmanuel/C-CC-File-Transfer'>
                                code
                            </a>
                        </div>
                    </div>
                </div>
                <div class='item'>
                    <div class='image'>
                        <img src='{{ site.baseurl }}/images/logo-symbol-330px.png'/>
                    </div> 
                    <div class='middle aligned content'>
                        <div class='description' title="An Implementation of FTP using C/C++">
                            <a href='https://github.com/GuelorEmanuel/CBS-Beacons'>
                                Canadian Blood Services Proof-of-concept application for in-clinic experience
                            </a>
                            <p>
                                Proof-of-concept application for in-clinic experience in which Bluetooth beacons are used to trigger real time notifications on a mobile app
                            </p>
                        </div>
                        <div class='extra'>
                            <a href='https://github.com/GuelorEmanuel/CBS-Beacons'>
                                code
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% include footer.html %}
