{% include head.html %}
    {% include sidebar.html %}
    <section class="content">
        <ul>
            <li class="life-me-link" 
                title="The purpose of this project was to implement a decentralized Peer to Peer File Sharing system using the Chord algorithm">
                <a href="https://docs.google.com/document/d/1XNYoB4SGTUOFAfEgk3pVBTRBogazLfd3-cE82utIJUs/edit?usp=sharing">
                    Decentralized Peer to Peer File Sharing
                </a>
            </li>
            <li class="life-me-link" 
                title="An Implementation of FTP using C/C++">
                <a href="https://github.com/GuelorEmanuel/C-CC-File-Transfer">
                    An Implementation of FTP using C/C++
                </a>
            </li>
            
        </ul>
    
    </section>
{% include footer.html %}
