{% include head.html %}
  {% include sidebar.html %}
  <section class="content">
      <div 
          class="cycle-slideshow auto" 
          data-cycle-fx="fade" 
          data-cycle-timeout="4000" 
          data-cycle-speed="500" 
          data-cycle-swipe="true" 
          data-cycle-log="false" 
          data-cycle-caption=".caption2" 
          data-cycle-caption-template="{{slideNum}} / 137<span style='float:right;'>{{cycleTitle}}</span>" 
          data-cycle-loader="true" 
          data-cycle-progressive="#images2" 
          style="position: relative;">
          <img data-cycle-title="" 
          class="slides cycle-slide cycle-sentinel" 
          data-cycle-timeout="5000"
          src="{{ site.baseurl }}/images/streams-of-thought/siblings.jpg" 
          style="display: block; position: static; top: 0px; left: 0px; z-index: 99; opacity: 1; visibility: hidden;">
                
        <script id="images2" type="text/cycle">
        </script>
        <div class="cycle-prev"></div>

        <div class="cycle-next"></div>
      </div>
      <div class="caption2">0 / 137<span style="float:right;"></span></div>
		</section>
{% include footer.html %}